.signupPage {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.input_holder {
    width: 400px;
    height: 30px;
    border: 0;
    border-bottom: 1px solid gray;
}

.signup_btn {
    width: 400px;
    height: 50px;
    font-size: large;
    margin-bottom: 10px;
    border: none;
    border-radius: 7px;
}